.card {
    width: 20rem;
    height: 26rem;
}

.cardImage {
    border-radius: 50%;
    object-fit: cover;
}

.cardName {
    font-size: 1.1rem;
    font-weight: 500;
    width: fit-content;
}

.cardDate {
    font-size: .9rem;
    color: gray;
    width: fit-content;
}