.firstContainer {
  background-image: linear-gradient(to top, #f8f1e0, transparent 15rem), url("/images/breakfast.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40rem;
}

.mainContainer {
  padding-top: 19rem;
}

.mainTitle {
  width: fit-content;
  background-color: var(--corp);
  color: var(--corp3);
  font-weight: 600;
  border-radius: .5rem;
}

.customBtn {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--corp);
  --bs-btn-border-color: var(--corp);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--hover);
  --bs-btn-hover-border-color: var(--hover);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--corp);
  --bs-btn-active-border-color: var(--corp);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--corp);
  --bs-btn-disabled-border-color: var(--corp);
  font-weight: 600;
  width: fit-content;
  padding: .5rem;
}

.customBtn:hover {
  transform: scale(1.1);
  transition: all .4s;
}

.subpage {
  background-image: linear-gradient(#f8f1e0, transparent 15rem), url("/images/bg.jpg");
}

.bgtransparency {
  background-color: rgba(254, 245, 231, 0.6);
}

.subtitleContainer {
  display: grid;
  justify-content: center;
  position: relative;
  width: 40rem;
  padding: 4rem 2rem;
  top: -10rem;
  background-color: var(--corp2);
  color: var(--corp3);
  font-weight: 600;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) {
  .mainContainer {
    padding-top: 10rem;
  }

  .firstContainer {
    min-height: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .subtitleContainer {
    top: -20rem;
    width: 28rem;
    margin-bottom: -10rem;
  }
}