.firstContainer {
  background-image: linear-gradient(to top, #f8f1e0, transparent 15rem), url("/images/breakfast.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40rem;
}

.mainContainer {
  padding-top: 19rem;
}

.mainTitle {
  width: fit-content;
  background-color: $corp;
  color: $corp3;
  font-weight: 600;
  border-radius: .5rem;
}

.customBtn {
  color: $white;
  background: $corp;
  border: $corp;
  font-weight: 600;
  width: fit-content;
  padding: .5rem;

  &:focus {
    box-shadow: rgb(49, 132, 253);
  }

  &:active {
    color: $white;
    background: $corp;
    border: $corp;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  &:disabled {
    color: $white;
    background: $corp;
    border: $corp;
  }

  &:hover {
    background: $hover;
    border: $hover;
    transform: scale(1.1);
    transition: all .4s;
  }
}

.subpage {
  background-image: linear-gradient(#f8f1e0, transparent 15rem), url("/images/bg.jpg");
}

.bgtransparency {
  background-color: rgba(254, 245, 231, 0.6);
}

.subtitleContainer {
  display: grid;
  justify-content: center;
  position: relative;
  width: 40rem;
  padding: 4rem 2rem;
  top: -10rem;
  background-color: $corp2;
  color: $corp3;
  font-weight: 600;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) {
  .mainContainer {
    padding-top: 10rem;
  }

  .firstContainer {
    min-height: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .subtitleContainer {
    top: -20rem;
    width: 28rem;
    margin-bottom: -10rem;
  }
}