.container {
    background-color: var(--background);
}

.title {
    color: var(--corp2);
    text-decoration: underline;
    font-family: 'Russo One', 'Russo One Fallback';
    margin-top: 10rem;
}

@media screen and (max-width: 768px) {
    .title {
        margin-top: 5rem;
    }
}